
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3aafab;
    color: #f4eeee;
}

header {
    font-size: 7px;
    color: rgba(255, 255, 255, 0.902);
    text-align: center;
    padding: 1rem 0;
    border-radius: 8px;
    height: 10px;
    padding-top: 10px;
    text-decoration: solid;
    background-color: #82c1be;
}

header h1 {
    margin: auto 0;
}

section h2 {
    color: #17252a;
    text-decoration: underline;
    font-style: oblique;
}

section h3 {
    text-decoration: underline;
    font-size: 13px;
    color: #2b3434;
    font-style: oblique;
}

img {
    border-radius: 8px;
    height: 350px;
    width: 200px;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #141514;
    font-size: 13px;
}

section ul li {
    color: #2b3434;
}

section p {
    font-size: 14px;
}

section ul li a {
    color: #bcc0bf;
    font-weight: 300;
}

section ul li a:hover {
    color: rgb(239, 26, 26);
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0.5rem 0;
}

footer {
    padding: 1rem 0;
    color: #dbe2e0;
    position: absolute;
    width: 100%;
    bottom: 5;
    height: 15px;
    border-radius: 6px;
}

footer p {
    margin: auto 0;
    text-align: center;
    font-size: 12px;
}

@media (max-width: 768px) {
    main {
        padding: 1rem;
    }
}
